body {
  font-family: Arial, Helvetica, sans-serif;
   background-image: url("https://marketplace.canva.com/EAGjTPSVmjU/1/0/900w/canva-pink-watercolor-playful-floral-abstract-ribbon-bows-girly-phone-wallpaper-Al4eXCEBWQE.jpg")
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  margin-bottom: 20px;
}

textarea {
  height: 120px;
}

button {
  background:#ed9dbf;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 150px;
}

button:hover {
  background:#FFFFFF;
}

.articulo {
  background: #f7e6ed;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 6px #ccc;
}

.comentarios {
  margin-top: 10px;
}

.comentario {
  background: #f5dfeb;
  padding: 6px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.no-com {
  color: #74f2dd;
}

.formComentario {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.formComentario input {
  flex: 1;
  padding: 5px;
}
